footer{
    margin-top: 83px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}
#wrap {
    background-color: #272838;
}
.jumbotron {
    margin-top: 75px;
    background-image: url("../images/jumboback.png");
    background-size: cover;
    text-shadow: #2e2c20 0.2em 0.2em 0.2em;
    color: #F9F8F8;
}
.row {
    margin-top: 75px;
    color: #F9F8F8;
}
footer,
.navbar-default{
    background-color: #101820;
    border-color: #101820;
}
footer,
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus
{
    color: #FEE715;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover{
    color: white;
}